section#feature_area  article div#profile{
    float:none;
    width:820px;
    padding:10px 20px;

    margin-left:auto;
    margin-right:auto;
    font-family:Metrophobic;
    position: relative;
}

section#feature_area article .inner {
    margin:10px 20px;
    padding:5px;
    background:#fff;
    border:5px solid;
    position: relative;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.comment {
    float: left; /* float containment */
    width: 100%;
    margin: 0 0 20px 0;
}
.comment-meta {
    float: left;
    width: 100px;
    font-size: 84%;
    text-align: right;
}
h4 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
}
.comment-meta span {
    font-size: 84%;
    color: #666;
}
blockquote p {
    margin: 0;
    padding: 0 0 10px 0;
}
blockquote {
    position: relative;
    min-height: 42px;
    margin: 20px auto;
    padding: 10px 15px 5px 15px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border-top: 1px solid #fff;
    background-color: hsla(30, 88%, 74%, 1);
    background-image: -moz-linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,0) 30px);
    background-image: -webkit-gradient(linear, 0 0, 0 30, from(hsla(0,0%,100%,.6)), to(hsla(0,0%,100%,0)));
    word-wrap: break-word;

}
.ie6 blockquote, .ie7 blockquote {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E3F4EE, endColorstr=#99A6DADC);
    zoom: 1;
}
.ie8 blockquote {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E3F4EE, endColorstr=#99A6DADC)";
}