
section#feature_area  article div#registration {
    float:left;
    width:340px;
    padding:10px 20px;
    background:#fff;
    margin:20px;

}

section#feature_area  article h3{
    margin:20px auto;
    font-family:Metrophobic;
    text-align:center;
}

section#feature_area{
    border-top:4px solid #f7be84;
}

section#feature_area article .inner {
    margin:10px 20px;
    padding:5px;
    background:#fff;
    border:5px solid;
}

section#feature_area article:nth-child(1) .inner {
    border-color:#d7dd6f;
    min-height: 200px;
}

section#feature_area article p {
    font-family:'Open Sans';
    font-weight:300;
    font-size:1.15em;
    line-height:1em;
    text-align:center;
    color:#616161;
}
/* Registration form fields */
#siginform fieldset {
    margin:0;
    padding:0 0 .2em 0;
    width:100%;
    border:0;
}

#siginform fieldset section{
    margin:.6em .6em 0 0; /* right margin ensures label text wraps before touching input */
    padding-bottom:.2em;
    font-family:Metrophobic;
    font-size:1.0em;
    font-weight:400;
    line-height:1.1;
    width: 22em;
    clear: both;
}

#siginform fieldset p.note {
    color:red;
    font-size:0.9em;
}

#siginform fieldset section label{
    float:left;
    width:8em;
    margin-bottom:10px;

}

#siginform fieldset section input{
    float:left;
    width:12em;
    margin-bottom:10px;
}

#siginform fieldset section input[type=submit] {
    float:none;

}